<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title_for_layout }} - ПО ДОМАМ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ siteInfo.favicon() }}
    {{ meta.meta() }}
    {{ _view.fetch('meta')}}
    <link rel="stylesheet" href="/uploads/assets/css/style.min.css?_v=20220523153133">
    <link rel="stylesheet" href="/uploads/assets/css/style-fix.css?v=2">
    <link rel="stylesheet" href="/libraries/select2/css/select2.min.css">
    {{ _view.fetch('css')}}
</head>
<body>
