{{ html.script(['https://api-maps.yandex.ru/2.1/?lang=ru_RU', 'Agency.filter-map-site', 'YandexMaps.simplify','/uploads/assets/js/map.js?v=3'], {'block': 'scriptCustom'}) }}
{% set adView = _view.loadHelper('Agency.AdView') %}
{% set adSeo = _view.loadHelper('Agency.AdSeo') %}
{% set favorite = _view.loadHelper('Favorites.Favorite') %}
{% set complexCategory = _view.loadHelper('ComplexCategories.ComplexCategory') %}
{{ adView.setOgparh(advertisement) }}
{{ adSeo.imageSrcLink(advertisement) }}
{{ adView.setDefaults({default_picture: config.Site.no_photo_image}) }}
{% set title = adSeo.pattern_title(advertisement) %}
{{ _view.assign('title', title) }}
{{ _view.Html.css('https://unpkg.com/swiper@8/swiper-bundle.min.css', {'block': 'css'}) }}
{{ _view.Html.script('https://unpkg.com/swiper@8/swiper-bundle.min.js', {'block': 'scriptCustom'}) }}
{{ _view.Html.script('/uploads/assets/js/fslightbox.js', {'block': 'scriptCustom'}) }}
{{ _view.Html.script('/uploads/assets/js/gallery.js?v=8', {'block': 'scriptCustom'}) }}
{{ _view.Html.script('/uploads/assets/js/favorites.js?v=2', {'block': 'scriptCustom'}) }}
{% set currencyActive = currencyActive|lower %}
{% set offerAdvertisement = adView.getInfo(advertisement) %}

{# Слайдер в просмотре объекта #}
{% set gallery = adView.getGallery(advertisement) %}
{% set galleryList = gallery.items ?: [gallery.first] %}
{% set galleryResizeList = imageResized.resizePicture(galleryList, {'width': '1280', 'height': '784', 'mode': 'fit', 'paddings': false, 'folder': 'twig_fit_realty_view_1', 'cache_path_size': true}) %}

{# Инициализируем переменные с параметрами категории #}
{% set paramsValues = advertisement.CategoryParamValues ?? [] %}
{% set site_area = complexCategory.getViewAliasesOptions('site_area', paramsValues) %}
{% set plot_area = complexCategory.getViewAliasesOptions('plot_area', paramsValues) %}
{% set lot_type = complexCategory.getViewAliasesOptions('lot_type', paramsValues) %}
{% set area_buildings = complexCategory.getViewAliasesOptions('area_buildings', paramsValues) %}
{% set house_area = complexCategory.getViewAliasesOptions('house_area', paramsValues) %}
{% set area_house = complexCategory.getViewAliasesOptions('area_house', paramsValues) %}
{% set spalen = complexCategory.getViewAliasesOptions('spalen', paramsValues) %}
{% set tualet = complexCategory.getViewAliasesOptions('tualet', paramsValues) %}
{% set electricity_supply = complexCategory.getViewAliasesOptions('electricity_supply', paramsValues) %}
{% set water = complexCategory.getViewAliasesOptions('water', paramsValues) %}
{% set sewerage_supply = complexCategory.getViewAliasesOptions('sewerage_supply', paramsValues) %}
{% set gas_supply = complexCategory.getViewAliasesOptions('gas_supply', paramsValues) %}
{% set number_of_floors = complexCategory.getViewAliasesOptions('number_of_floors', paramsValues) %}
{% set object_type = complexCategory.getViewAliasesOptions('object_type', paramsValues) %}
{% set avtomob = complexCategory.getViewAliasesOptions('avtomob', paramsValues) %}
{% set aeroport = complexCategory.getViewAliasesOptions('aeroport', paramsValues) %}
{% set vokzal = complexCategory.getViewAliasesOptions('vokzal', paramsValues) %}
{% set olimpik = complexCategory.getViewAliasesOptions('olimpik', paramsValues) %}
{% set estosadok = complexCategory.getViewAliasesOptions('estosadok', paramsValues) %}
{% set end_street = complexCategory.getViewAliasesOptions('end_street', paramsValues) %}
{% set panoramic_windows = complexCategory.getViewAliasesOptions('panoramic_windows', paramsValues) %}
{% set aluminum_window = complexCategory.getViewAliasesOptions('aluminum_window', paramsValues) %}
{% set region = complexCategory.getViewAliasesOptions('region', paramsValues) %}
{% set children_playground = complexCategory.getViewAliasesOptions('children_playground', paramsValues) %}
{% set work_out = complexCategory.getViewAliasesOptions('work_out', paramsValues) %}
{% set free_layout = complexCategory.getViewAliasesOptions('free_layout', paramsValues) %}
{% set before_school = complexCategory.getViewAliasesOptions('before_school', paramsValues) %}
{% set fireplace = complexCategory.getViewAliasesOptions('fireplace', paramsValues) %}
{% set supply_exhaust = complexCategory.getViewAliasesOptions('supply_exhaust', paramsValues) %}
{% set material = complexCategory.getViewAliasesOptions('material', paramsValues) %}
{% set foundation = complexCategory.getViewAliasesOptions('foundation', paramsValues) %}
{% set facade_decoration = complexCategory.getViewAliasesOptions('facade_decoration', paramsValues) %}
{% set facade_insulation = complexCategory.getViewAliasesOptions('facade_insulation', paramsValues) %}
{% set house_rented = complexCategory.getViewAliasesOptions('house_rented', paramsValues) %}
{% set recreation_areas = complexCategory.getViewAliasesOptions('recreation_areas', paramsValues) %}
{% set renovation = complexCategory.getViewAliasesOptions('renovation', paramsValues) %}
{% set interior_decoration = complexCategory.getViewAliasesOptions('interior_decoration', paramsValues) %}
{% set bath_house = complexCategory.getViewAliasesOptions('bath_house', paramsValues) %}
{% set swimming_pool = complexCategory.getViewAliasesOptions('swimming_pool', paramsValues) %}
{% set guest_house = complexCategory.getViewAliasesOptions('guest_house', paramsValues) %}
{% set pool_size = complexCategory.getViewAliasesOptions('pool_size', paramsValues) %}
{% set pool_functions = complexCategory.getViewAliasesOptions('pool_functions', paramsValues) %}
{% set landscape = complexCategory.getViewAliasesOptions('landscape', paramsValues) %}
{% set automatic_watering = complexCategory.getViewAliasesOptions('automatic_watering', paramsValues) %}
{% set fence = complexCategory.getViewAliasesOptions('fence', paramsValues) %}
{% set altitude = complexCategory.getViewAliasesOptions('altitude', paramsValues) %}
{% set view_house = complexCategory.getViewAliasesOptions('view_house', paramsValues) %}
{% set security = complexCategory.getViewAliasesOptions('security', paramsValues) %}
{% set place_car = complexCategory.getViewAliasesOptions('place_car', paramsValues) %}
{% set names_trees = complexCategory.getViewAliasesOptions('names_trees', paramsValues) %}
{% set zagolovok = complexCategory.getViewAliasesOptions('zagolovok', paramsValues) %}
{% set vblizi = complexCategory.getViewAliasesOptions('vblizi', paramsValues) %}
<section class="main-slider">
    <div class="container">
        <div class="swiper main-slider-swiper">
            <div class="swiper-wrapper main-slider-wrapper">
                {% set countAll = galleryResizeList|length %}
                {% for i, galleryItem in galleryResizeList %}
                    {% if galleryItem.description != 'Проект дома' and galleryItem.description != 'Территория/Участок' %}
                        <div class="swiper-slide main-slider-slide" data-full="{{ galleryItem.full }}">
                            <picture>
                                <img data-src="{{ galleryItem.src }}" {% if i == 0 or i == 1 or i == (countAll - 1) %} src="{{ galleryItem.src }}" {% endif%} alt="{{ galleryItem.description }}" class="main-slider__image swiper-lazy">
                            </picture>
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="swiper-button-next main-slider-button-next main-slider-button">
                <div class="circle-svg">
                    <svg class="main-slider-arrow" width="25" height="41" viewBox="0 0 25 41" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M3.96618 41L25 20.5L3.96618 -6.46742e-07L3.96166e-06 3.86551L17.0676 20.5L1.05319e-06 37.1345L3.96618 41Z"
                              fill="#040404"/>
                    </svg>
                </div>
            </div>
            <div class="swiper-button-prev main-slider-button main-slider-button-prev">
                <div class="circle-svg">
                    <svg class="main-slider-arrow" width="25" height="41" viewBox="0 0 25 41" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M3.96618 41L25 20.5L3.96618 -6.46742e-07L3.96166e-06 3.86551L17.0676 20.5L1.05319e-06 37.1345L3.96618 41Z"
                              fill="#040404"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
{# Проверяем эксклюзивный ли объект, если да выводим эксклюзивный просмотр, иначе обычный #}
{% if advertisement.Advertisement.contract_type_id == 1 %}
    {{ croogo_region alias = "twig_realty_view_exclusive" }}
{% else %}
    {{ croogo_region alias = "twig_realty_view_main" }}
{% endif %}
