<section class="main-slider">
    <div class="swiper main-slider-swiper">
        <div class="swiper-wrapper main-slider-wrapper">
            {% for galleryItem in galleryResizeList %}
                <div class="swiper-slide main-slider-slide">
                    <picture>
                        <img src="{{ galleryItem.src }}" alt="{{ galleryItem.description }}" class="main-slider__image">
                    </picture>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next main-slider-button-next main-slider-button">
            <svg class="main-slider-arrow" width="25" height="41" viewBox="0 0 25 41" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.96618 41L25 20.5L3.96618 -6.46742e-07L3.96166e-06 3.86551L17.0676 20.5L1.05319e-06 37.1345L3.96618 41Z"
                      fill="#040404" />
            </svg>
        </div>
        <div class="swiper-button-prev main-slider-button main-slider-button-prev">
            <svg class="main-slider-arrow" width="25" height="41" viewBox="0 0 25 41" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M3.96618 41L25 20.5L3.96618 -6.46742e-07L3.96166e-06 3.86551L17.0676 20.5L1.05319e-06 37.1345L3.96618 41Z"
                      fill="#040404" />
            </svg>
        </div>
    </div>
</section>
<section class="parameter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="parameter__title title text-center">Основные параметры объекта</h1>
            </div>
        </div>
        <div class="row parameter__block">
            <div class="offset-xl-1 col-xl-4 col-lg-5 col-md-5 col-sm-5 col-6 d-flex flex-column">
                {% if site_area %}
                    <div class="parameter__item d-flex align-items-xl-center align-items-lg-center">
                        <svg class="parameter__icon" width="30" height="30" viewBox="0 0 30 30" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.875 1.5H25.125C26.0201 1.5 26.8785 1.85558 27.5115 2.48851C28.1444 3.12145 28.5 3.97989 28.5 4.875V25.125C28.5 26.0201 28.1444 26.8785 27.5115 27.5115C26.8785 28.1444 26.0201 28.5 25.125 28.5H4.875C3.97989 28.5 3.12145 28.1444 2.48851 27.5115C1.85558 26.8785 1.5 26.0201 1.5 25.125V4.875C1.5 3.97989 1.85558 3.12145 2.48851 2.48851C3.12145 1.85558 3.97989 1.5 4.875 1.5ZM15.8438 15.8438V25.9688H25.9688V15.8438H15.8438ZM4.03125 15.8438V25.9688H14.1562V15.8438H4.03125ZM15.8438 4.03125V14.1562H25.9688V4.03125H15.8438ZM4.03125 4.03125V14.1562H14.1562V4.03125H4.03125Z"
                                fill="#929292" />
                        </svg>
                        <span class="parameter__desc-left">Участок по документам: <span>{{ site_area }} соток</span></span>
                    </div>
                {% endif %}
                {% if plot_area %}
                    <span class="parameter__desc grey-text">Участок по факту: <span>{{ plot_area }} соток</span></span>
                {% endif %}
                {% if lot_type %}
                    <span class="parameter__desc">Вид разрешенного использования: <span>{{ lot_type }}</span></span>
                {% endif %}
                {% if area_buildings %}
                    <span class="parameter__desc">Площадь всех строений: <span>{{ area_buildings }} м²</span></span>
                {% endif %}
                {% if house_area %}
                    <div class="parameter__item d-flex align-items-xl-center align-items-lg-center">
                        <svg class="parameter__icon" width="30" height="30" viewBox="0 0 30 30" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_116_2252)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M7.40714 19.7186V9.29199H9.01124V19.7186C9.01124 19.9314 9.09574 20.1354 9.24615 20.2858C9.39656 20.4362 9.60057 20.5207 9.81329 20.5207H24.2502C24.4629 20.5207 24.6669 20.4362 24.8173 20.2858C24.9677 20.1354 25.0522 19.9314 25.0522 19.7186V9.29199H26.6563V19.7186C26.6563 20.3568 26.4028 20.9688 25.9516 21.4201C25.5004 21.8713 24.8883 22.1248 24.2502 22.1248H9.81329C9.17514 22.1248 8.56312 21.8713 8.11188 21.4201C7.66064 20.9688 7.40714 20.3568 7.40714 19.7186ZM25.0522 2.07353V7.68789L21.844 4.47969V2.07353C21.844 1.86082 21.9285 1.65681 22.079 1.5064C22.2294 1.35599 22.4334 1.27148 22.6461 1.27148H24.2502C24.4629 1.27148 24.6669 1.35599 24.8173 1.5064C24.9677 1.65681 25.0522 1.86082 25.0522 2.07353Z"
                                      fill="#929292" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M15.8977 0.469659C16.1985 0.168937 16.6065 0 17.0318 0C17.4572 0 17.8651 0.168937 18.1659 0.469659L28.8284 11.1305C28.979 11.2811 29.0636 11.4854 29.0636 11.6984C29.0636 11.9114 28.979 12.1156 28.8284 12.2662C28.6778 12.4168 28.4735 12.5014 28.2605 12.5014C28.0475 12.5014 27.8433 12.4168 27.6927 12.2662L17.0318 1.60376L6.37095 12.2662C6.22034 12.4168 6.01608 12.5014 5.80309 12.5014C5.59011 12.5014 5.38585 12.4168 5.23524 12.2662C5.08464 12.1156 5.00003 11.9114 5.00003 11.6984C5.00003 11.4854 5.08464 11.2811 5.23524 11.1305L15.8977 0.469659Z"
                                      fill="#929292" />
                                <path
                                    d="M2.18901 22.5001V1.64648M5.99982 26.0855C5.99982 26.0855 19.5488 26.0855 27.7498 26.0855M5.99982 26.0855C5.99982 25.2712 5.99982 24.8146 5.99982 24.0002M5.99982 26.0855C5.99982 26.8999 5.99982 27.3565 5.99982 28.1709M-0.000183105 1.64648H4.3782M-0.000183105 22.5001H4.3782M27.7498 24.0002C27.7498 25.629 27.7498 28.1709 27.7498 28.1709"
                                    stroke="#929292" />
                            </g>
                            <defs>
                                <clipPath id="clip0_116_2252">
                                    <rect width="30" height="30" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="parameter__desc-left">Площадь дома по документам: <span>{{ house_area }} м²</span></span>
                    </div>
                {% endif %}
                {% if area_house %}
                    <span class="parameter__desc grey-text">Площадь дома по факту: <span>{{ area_house }} м²</span></span>
                {% endif %}
                {% if kolichestvo_spalnyh_mest %}
                    <div class="parameter__item d-flex align-items-center">
                        <svg class="parameter__icon" width="30" height="30" viewBox="0 0 30 30" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M26.8871 22.7334H27.3871V22.2334H26.8871V22.7334ZM26.9156 15.1296V15.6296H27.4156V15.1296H26.9156ZM2.8533 15.1296H2.3533V15.6296H2.8533V15.1296ZM2.88087 22.7334V22.2334H2.38087V22.7334H2.88087ZM4.58504 13.4359V6.65832H3.58504V13.4359H4.58504ZM4.58504 6.65832C4.58504 6.59951 4.60658 6.55513 4.63036 6.52896C4.65351 6.50348 4.67262 6.5 4.68259 6.5V5.5C4.03307 5.5 3.58504 6.06448 3.58504 6.65832H4.58504ZM4.68259 6.5H25.0858V5.5H4.68259V6.5ZM25.0858 6.5C25.0964 6.5 25.1154 6.50367 25.1382 6.52877C25.1617 6.55468 25.1833 6.59904 25.1833 6.65832H26.1833C26.1833 6.06499 25.7367 5.5 25.0858 5.5V6.5ZM25.1833 6.65832V13.4359H26.1833V6.65832H25.1833ZM6.12791 13.4136V11.9487H5.12791V13.4136H6.12791ZM6.12791 11.9487C6.12791 11.61 6.20819 11.3275 6.31224 11.147C6.3638 11.0575 6.4132 11.0066 6.44741 10.9815C6.46372 10.9695 6.4747 10.9647 6.47975 10.9629C6.48229 10.962 6.48374 10.9617 6.48424 10.9616C6.48472 10.9615 6.48488 10.9615 6.48498 10.9615V9.96155C5.99355 9.96155 5.64426 10.3033 5.44582 10.6476C5.2396 11.0055 5.12791 11.4666 5.12791 11.9487H6.12791ZM6.48498 10.9615H12.4845V9.96155H6.48498V10.9615ZM12.4845 10.9615C12.4846 10.9615 12.4848 10.9615 12.4852 10.9616C12.4857 10.9617 12.4872 10.962 12.4897 10.9629C12.4948 10.9647 12.5058 10.9695 12.5221 10.9815C12.5563 11.0066 12.6057 11.0575 12.6573 11.147C12.7613 11.3275 12.8416 11.61 12.8416 11.9487H13.8416C13.8416 11.4666 13.7299 11.0055 13.5237 10.6476C13.3252 10.3033 12.9759 9.96155 12.4845 9.96155V10.9615ZM12.8416 11.9487V13.4359H13.8416V11.9487H12.8416ZM16.9269 13.4136V11.9487H15.9269V13.4136H16.9269ZM16.9269 11.9487C16.9269 11.61 17.0072 11.3275 17.1113 11.147C17.1628 11.0575 17.2122 11.0066 17.2465 10.9815C17.2628 10.9695 17.2737 10.9647 17.2788 10.9629C17.2813 10.962 17.2828 10.9617 17.2833 10.9616C17.2838 10.9615 17.2839 10.9615 17.284 10.9615V9.96155C16.7926 9.96155 16.4433 10.3033 16.2449 10.6476C16.0386 11.0055 15.9269 11.4666 15.9269 11.9487H16.9269ZM17.284 10.9615H23.2835V9.96155H17.284V10.9615ZM23.2835 10.9615C23.2836 10.9615 23.2838 10.9615 23.2843 10.9616C23.2848 10.9617 23.2862 10.962 23.2888 10.9629C23.2938 10.9647 23.3048 10.9695 23.3211 10.9815C23.3553 11.0066 23.4047 11.0575 23.4563 11.147C23.5603 11.3275 23.6406 11.61 23.6406 11.9487H24.6406C24.6406 11.4666 24.5289 11.0055 24.3227 10.6476C24.1243 10.3033 23.775 9.96155 23.2835 9.96155V10.9615ZM23.6406 11.9487V13.4359H24.6406V11.9487H23.6406ZM13.1086 23.2334H26.8871V22.2334H13.1086V23.2334ZM26.3871 22.7334V24.4856H27.3871V22.7334H26.3871ZM26.3871 24.4856C26.3871 25.2669 27.0614 25.8333 27.806 25.8333V24.8333C27.5361 24.8333 27.3871 24.6402 27.3871 24.4856H26.3871ZM27.806 25.8333H27.8501V24.8333H27.806V25.8333ZM27.8501 25.8333C28.5948 25.8333 29.269 25.2669 29.269 24.4856H28.269C28.269 24.6402 28.12 24.8333 27.8501 24.8333V25.8333ZM29.269 24.4856V14.2836H28.269V24.4856H29.269ZM29.269 14.2836C29.269 13.5023 28.5948 12.9359 27.8501 12.9359V13.9359C28.12 13.9359 28.269 14.129 28.269 14.2836H29.269ZM27.8501 12.9359H27.8345V13.9359H27.8501V12.9359ZM27.8345 12.9359C27.0886 12.9359 26.4156 13.5026 26.4156 14.2836H27.4156C27.4156 14.1287 27.5641 13.9359 27.8345 13.9359V12.9359ZM26.4156 14.2836V15.1296H27.4156V14.2836H26.4156ZM26.9156 14.6296H13.7399V15.6296H26.9156V14.6296ZM13.7399 15.6296H14.7553V14.6296H13.7399V15.6296ZM14.7553 14.6296H2.8533V15.6296H14.7553V14.6296ZM3.3533 15.1296V14.2836H2.3533V15.1296H3.3533ZM3.3533 14.2836C3.3533 13.5023 2.67901 12.9359 1.93437 12.9359V13.9359C2.20423 13.9359 2.3533 14.129 2.3533 14.2836H3.3533ZM1.93437 12.9359H1.91875V13.9359H1.93437V12.9359ZM1.91875 12.9359C1.17411 12.9359 0.499817 13.5023 0.499817 14.2836H1.49982C1.49982 14.129 1.64889 13.9359 1.91875 13.9359V12.9359ZM0.499817 14.2836V24.4856H1.49982V14.2836H0.499817ZM0.499817 24.4856C0.499817 25.2669 1.17411 25.8333 1.91875 25.8333V24.8333C1.64889 24.8333 1.49982 24.6402 1.49982 24.4856H0.499817ZM1.91875 25.8333H1.96194V24.8333H1.91875V25.8333ZM1.96194 25.8333C2.70784 25.8333 3.38087 25.2666 3.38087 24.4856H2.38087C2.38087 24.6405 2.23238 24.8333 1.96194 24.8333V25.8333ZM3.38087 24.4856V22.7334H2.38087V24.4856H3.38087ZM2.88087 23.2334H15.3094V22.2334H2.88087V23.2334Z"
                                fill="#929292" />
                        </svg>
                        <span class="parameter__desc-left">Спален: <span>{{ kolichestvo_spalnyh_mest }}</span></span>
                    </div>
                {% endif %}
                {% if number_bathrooms %}
                    <div class="parameter__item d-flex align-items-center">
                        <svg class="parameter__icon" width="30" height="30" viewBox="0 0 30 30" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M2.99982 6V1.5H1.49982V28.5H2.99982V13.5H5.24982V15H15.7498V12.5002H17.9998C18.3976 12.5002 18.7792 12.6583 19.0605 12.9396C19.3418 13.2209 19.4998 13.6024 19.4998 14.0003V14.25H17.9998V20.25H28.4998V14.25H26.9998V13.5C26.9998 9.35775 23.6421 6 19.4998 6H15.7498V4.5H11.2498V3H16.4998C16.6987 3 16.8895 2.92098 17.0301 2.78033C17.1708 2.63968 17.2498 2.44891 17.2498 2.25C17.2498 2.05109 17.1708 1.86032 17.0301 1.71967C16.8895 1.57902 16.6987 1.5 16.4998 1.5H4.49982C4.3009 1.5 4.11014 1.57902 3.96949 1.71967C3.82883 1.86032 3.74982 2.05109 3.74982 2.25C3.74982 2.44891 3.82883 2.63968 3.96949 2.78033C4.11014 2.92098 4.3009 3 4.49982 3H9.74982V4.5H5.24982V6H2.99982ZM25.4998 13.5C25.4998 11.9087 24.8677 10.3826 23.7425 9.25736C22.6172 8.13214 21.0911 7.5 19.4998 7.5H15.7498V11.0002H17.9998C18.7955 11.0002 19.5585 11.3163 20.1211 11.8789C20.6837 12.4415 20.9998 13.2046 20.9998 14.0003V14.25H25.4998V13.5ZM26.9998 15.75H19.4998V18.75H26.9998V15.75ZM14.2498 6H6.74982V13.5H14.2498V6ZM5.24982 12H2.99982V7.5H5.24982V12Z"
                                  fill="#929292" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M24.5831 29.9998C26.194 29.9998 27.4998 28.6432 27.4998 26.9698C27.4998 24.3182 24.5831 21.6665 24.5831 21.6665C24.5831 21.6665 21.6665 24.3182 21.6665 26.9698C21.6665 28.6432 22.9723 29.9998 24.5831 29.9998ZM24.5831 28.3332C25.214 28.3332 25.8331 27.7832 25.8331 26.9698C25.8331 26.1932 25.3731 25.2307 24.6973 24.309C24.6598 24.2578 24.6217 24.207 24.5831 24.1565C24.5448 24.2065 24.5065 24.2573 24.469 24.309C23.794 25.2298 23.3331 26.1923 23.3331 26.9698C23.3331 27.7832 23.9523 28.3332 24.5831 28.3332Z"
                                  fill="#929292" />
                        </svg>
                        <span class="parameter__desc-left">Сан.узлов: <span>{{ number_bathrooms }}</span></span>
                    </div>
                {% endif %}
            </div>
            <div
                class="parameter__col offset-xl-1 col-xl-1 justify-content-xl-start col-lg-2 d-flex justify-content-center col-md-2 col-sm-2 col-auto">
                <div class="parameter__line"></div>
            </div>
            <div class="parameter__dop col-xl-4 col-lg-5 col-md-5 col-sm-5 col-5 d-flex flex-column align-items-end">
                {% if electricity_supply %}
                    <span class="parameter__desc-right">Электричество: <span>{{ electricity_supply }} кВт</span></span>
                {% endif %}
                {% if water %}
                    <span class="parameter__desc-right">Водоснабжение: <span>{{ water }}</span></span>
                {% endif %}
                {% if sewerage_supply %}
                    <span class="parameter__desc-right">Канализация: <span>{{ sewerage_supply }}</span></span>
                {% endif %}
                {% if gas_supply %}
                    <span class="parameter__desc-right">Газ: <span>{{ gas_supply }}</span></span>
                {% endif %}
                {% if number_of_floors %}
                    <span class="parameter__desc-right">Этажность: <span>{{ number_of_floors }}</span></span>
                {% endif %}

{#                    <span class="parameter__desc-right grey-text">Цокол, мансарда</span>#}

                {% if object_type %}
                    <span class="parameter__desc-right">Тип объекта: <span>{{ object_type }}</span></span>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% if advertisement.Youtube.0.url %}
    <section class="video">
        <div class="container">
            <div class="row">
                <div class="col-12 video__col">
                    <div>
                        <iframe class="video__video" width="1100" height="587"
                                src="{{ advertisement.Youtube.0.url }}" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-5 d-flex flex-column col-lg-5 col-md-5 col-sm-5 col-6">
                <h2 class="benefits__sub subtitle">Преимущества</h2>

                {% if end_street == "да" or end_street == "Да" or end_street == 1 %}
                    <span class="benefits__desc grey-text">Тупиковая улица: <span>{{ end_street }}</span></span>
                {% endif %}
                {% if panoramic_windows == "да" or panoramic_windows == "Да" or panoramic_windows == 1 %}
                    <span class="benefits__desc">Панорамные окна: <span>{{ panoramic_windows }}</span></span>
                {% endif %}
                {% if aluminum_window == "да" or aluminum_window == "Да" or aluminum_window == 1 %}
                    <span class="benefits__desc grey-text">Алюминиевые оконные профили: <span>{{ aluminum_window }}</span></span>
                {% endif %}
                {% if region %}
                    <span class="benefits__desc">Участок: <span>{{ region }}</span></span>
                {% endif %}
                {% if children_playground == "да" or children_playground == "Да" or children_playground == 1 %}
                    <span class="benefits__desc grey-text">Детская площадка: <span>{{ children_playground }}</span></span>
                {% endif %}
                {% if work_out == "да" or work_out == "Да" or work_out == 1 %}
                    <span class="benefits__desc">Спортивная площадка/Зона WorkOut: <span>{{ work_out }}</span></span>
                {% endif %}
                {% if free_layout == "да" or free_layout == "Да" or free_layout == 1 %}
                    <span class="benefits__desc grey-text">Свободная планировка: <span>{{ free_layout }}</span></span>
                {% endif %}
                {% if before_school == "да" or before_school == "Да" or before_school == 1 %}
                    <span class="benefits__desc">До школы/сада пешком: <span>{{ before_school }}</span></span>
                {% endif %}
                {% if supply_exhaust == "да" or supply_exhaust == "Да" or supply_exhaust == 1 %}
                    <span class="benefits__desc grey-text">Установлена приточно-вытяжная вентиляция: <span>{{ supply_exhaust }}</span></span>
                {% endif %}
                {% if fireplace == "да" or fireplace == "Да" or fireplace == 1 %}
                    <span class="benefits__desc">Камин: <span>{{ fireplace }}</span></span>
                {% endif %}

            </div>
            <div class="parameter__col col-xl-1 justify-content-xl-start col-lg-2 d-flex justify-content-center col-md-2 col-sm-2 col-1">
                <div class="benefits__line"></div>
            </div>
            <div class="parameter__dop col-xl-4 d-flex flex-column align-items-end col-lg-5 col-md-5 col-sm-5 col-5">
                <h2 class="benefits__sub subtitle">Особенности</h2>
{#                <span class="benefits__desc-right grey-text">Парящая лестница из массива дерева</span>#}
                {% if myself_add %}
                    <span class="benefits__desc-right">{{ myself_add }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% if advertisement.Youtube.1.url %}
<section class="video">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <iframe class="video__video" width="1100" height="587"
                            src="{{ advertisement.Youtube.1.url }}" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="location">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                <div class="location__item d-flex align-items-center">
                    <svg class="location__icon" width="30" height="30" viewBox="0 0 30 30" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M23.4375 12.1875C23.4375 9.94974 22.5486 7.80362 20.9662 6.22129C19.3839 4.63895 17.2378 3.75 15 3.75C12.7622 3.75 10.6161 4.63895 9.03379 6.22129C7.45145 7.80362 6.5625 9.94974 6.5625 12.1875C6.5625 15.6488 9.33187 20.16 15 25.5637C20.6681 20.16 23.4375 15.6488 23.4375 12.1875ZM15 28.125C8.12437 21.8756 4.6875 16.5619 4.6875 12.1875C4.6875 9.45246 5.77399 6.82943 7.70796 4.89546C9.64193 2.96149 12.265 1.875 15 1.875C17.735 1.875 20.3581 2.96149 22.292 4.89546C24.226 6.82943 25.3125 9.45246 25.3125 12.1875C25.3125 16.5619 21.8756 21.8756 15 28.125Z"
                            fill="black" />
                        <path
                            d="M15 13.125C15.4973 13.125 15.9742 12.9275 16.3258 12.5758C16.6775 12.2242 16.875 11.7473 16.875 11.25C16.875 10.7527 16.6775 10.2758 16.3258 9.92418C15.9742 9.57254 15.4973 9.375 15 9.375C14.5027 9.375 14.0258 9.57254 13.6742 9.92418C13.3225 10.2758 13.125 10.7527 13.125 11.25C13.125 11.7473 13.3225 12.2242 13.6742 12.5758C14.0258 12.9275 14.5027 13.125 15 13.125ZM15 15C14.0054 15 13.0516 14.6049 12.3483 13.9017C11.6451 13.1984 11.25 12.2446 11.25 11.25C11.25 10.2554 11.6451 9.30161 12.3483 8.59835C13.0516 7.89509 14.0054 7.5 15 7.5C15.9946 7.5 16.9484 7.89509 17.6516 8.59835C18.3549 9.30161 18.75 10.2554 18.75 11.25C18.75 12.2446 18.3549 13.1984 17.6516 13.9017C16.9484 14.6049 15.9946 15 15 15ZM25.125 20.625L28.125 28.125H19.6875V26.25H10.3125V28.125H1.875L4.875 20.625H25.125ZM23.1056 20.625H6.89437L4.64438 26.25H25.3556L23.1056 20.625Z"
                            fill="black" />
                    </svg>
                    <h2 class="location__sub subtitle">Местоположение</h2>
                </div>
                {% if location.title(advertisement, 'district, locality') %}
                    <span class="location__adress">{{ location.title(advertisement, 'district, locality') }}
                    {% if vblizi %}
                        <span>, вблизи улиц {{ vblizi }}</span>
                    {% endif %}
                    </span>
                {% endif %}
                <div class="location__two d-flex flex-column">
                    <button class="location__btn grey-btn content_toggle order-xl-1 order-lg-1 order-md-1 order-sm-1 order-2">Показать на карте</button>
                    <div class="location__line order-xl-2 order-lg-2 order-md-2 order-sm-2 order-1"></div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12">
                    <div class="location__map content_block">
                        <input type="hidden" id="latitude" value="{{ adView.getCoordinateSite(advertisement).latitude }}"/>
                        <input type="hidden" id="longitude" value="{{ adView.getCoordinateSite(advertisement).longitude }}"/>
                        <input type="hidden" id="address" value="{{ location.title(advertisement, 'country, locality, street, house_number') }}"/>
                        <div class="map-contact-wrap" id="map" style="width: 100%; height: 450px;"></div>
                    </div>
                </div>
                {% if avtomob or aeroport or vokzal or olimpik or estosadok %}
                    <span class="location__distance">Расстояние до:</span>
                {% endif %}
                {% if avtomob %}
                    <div class="location__wrapper d-flex align-items-center">
                        <svg class="location__pic" width="24" height="22" viewBox="0 0 24 22" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_123_824)">
                                <path
                                    d="M3.15939 6.60255C3.03696 6.46018 2.98107 6.2793 3.00391 6.09938C3.02674 5.91946 3.12644 5.7551 3.28126 5.64217C4.09743 5.09235 5.02468 4.69598 6.00938 4.47599C7.51876 4.13299 9.86251 4.04724 12.4125 5.59929C16.3875 8.02598 19.65 5.73649 19.7813 5.63359C19.9393 5.52325 20.138 5.47323 20.3355 5.49401C20.533 5.5148 20.7141 5.60478 20.8406 5.74507C20.9631 5.88744 21.0189 6.06831 20.9961 6.24823C20.9733 6.42815 20.8736 6.59251 20.7188 6.70545C19.9026 7.25527 18.9753 7.65164 17.9906 7.87163C17.3866 8.00921 16.7663 8.07833 16.1438 8.07743C14.8313 8.07743 13.2563 7.76016 11.5875 6.74832C7.61251 4.32164 4.35001 6.61113 4.21876 6.71403C4.0607 6.82436 3.86204 6.87439 3.66451 6.8536C3.46697 6.83282 3.28593 6.74284 3.15939 6.60255ZM19.7813 10.4355C19.65 10.5384 16.3875 12.8279 12.4125 10.4012C9.86251 8.84917 7.51876 8.93491 6.00938 9.27791C5.02468 9.4979 4.09743 9.89427 3.28126 10.4441C3.12644 10.557 3.02674 10.7214 3.00391 10.9013C2.98107 11.0812 3.03696 11.2621 3.15939 11.4045C3.28593 11.5448 3.46697 11.6347 3.66451 11.6555C3.86204 11.6763 4.0607 11.6263 4.21876 11.5159C4.35001 11.4131 7.61251 9.12356 11.5875 11.5502C13.2563 12.5621 14.8313 12.8794 16.1438 12.8794C16.7663 12.8803 17.3866 12.8111 17.9906 12.6736C18.9753 12.4536 19.9026 12.0572 20.7188 11.5074C20.8736 11.3944 20.9733 11.2301 20.9961 11.0502C21.0189 10.8702 20.9631 10.6894 20.8406 10.547C20.7141 10.4067 20.533 10.3167 20.3355 10.2959C20.138 10.2752 19.9393 10.3252 19.7813 10.4355ZM19.7813 15.2374C19.65 15.3403 16.3875 17.6298 12.4125 15.2031C9.86251 13.6511 7.51876 13.7368 6.00938 14.0798C5.02468 14.2998 4.09743 14.6962 3.28126 15.246C3.12644 15.359 3.02674 15.5233 3.00391 15.7032C2.98107 15.8832 3.03696 16.064 3.15939 16.2064C3.28593 16.3467 3.46697 16.4367 3.66451 16.4575C3.86204 16.4782 4.0607 16.4282 4.21876 16.3179C4.35001 16.215 7.61251 13.9255 11.5875 16.3522C13.2563 17.364 14.8313 17.6813 16.1438 17.6813C17.7894 17.6802 19.3919 17.1996 20.7188 16.3093C20.8736 16.1964 20.9733 16.032 20.9961 15.8521C21.0189 15.6722 20.9631 15.4913 20.8406 15.3489C20.7141 15.2086 20.533 15.1186 20.3355 15.0979C20.138 15.0771 19.9393 15.1271 19.7813 15.2374Z"
                                    fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_123_824">
                                    <rect width="24" height="21.9517" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="location__desc">моря <span class="grey-text">по автомобильной дороге: </span><span class="location__value">{{ avtomob }} км</span></span>
                    </div>
                {% endif %}
                {% if aeroport %}
                    <div class="location__wrapper d-flex align-items-center">
                        <svg class="location__pic" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M23.8467 7.43997C23.7956 7.11552 23.6471 6.81426 23.4209 6.57613C23.1947 6.33801 22.9014 6.17427 22.58 6.10663L18.6667 5.24663C18.247 5.15511 17.8126 5.15477 17.3928 5.24563C16.973 5.33649 16.5776 5.51644 16.2334 5.7733L4.66669 14.2L1.42669 14.0666C1.16624 14.0573 0.909463 14.1303 0.692844 14.2752C0.476225 14.4201 0.310775 14.6296 0.219992 14.8739C0.12921 15.1182 0.117711 15.3849 0.187128 15.6361C0.256546 15.8873 0.403351 16.1103 0.606692 16.2733L3.94003 18.8933C4.34002 19.38 4.60669 19.2866 11.2267 15.68L11.8467 21.96C11.857 22.1313 11.9157 22.2961 12.016 22.4354C12.1164 22.5747 12.2541 22.6826 12.4134 22.7466C12.5279 22.7919 12.6502 22.8145 12.7734 22.8133C13.0213 22.8057 13.2581 22.7086 13.44 22.54L15.0334 21.0866C15.192 20.9396 15.2995 20.7457 15.34 20.5333L16.8 12.6C19.18 11.2666 21.4334 10.0133 23.04 9.09997C23.3275 8.93828 23.5587 8.69271 23.7029 8.39607C23.847 8.09944 23.8972 7.76588 23.8467 7.43997ZM22.38 7.93997C20.7134 8.88663 18.38 10.2133 15.8734 11.5866L15.6 11.74L14.0467 20.1866L13.0667 21.08L12.3334 13.5466L11.4467 14C6.66669 16.6666 5.07336 17.44 4.52669 17.68L1.66003 15.4066L5.04669 15.5533L17.0467 6.84663C17.2353 6.70562 17.4516 6.606 17.6813 6.55431C17.9111 6.50261 18.1492 6.5 18.38 6.54663L22.28 7.38663C22.3401 7.39753 22.3952 7.42733 22.4371 7.4717C22.4791 7.51608 22.5058 7.57269 22.5134 7.6333C22.5271 7.69196 22.5215 7.75348 22.4975 7.80872C22.4735 7.86397 22.4323 7.91 22.38 7.93997Z"
                                fill="black" />
                            <path
                                d="M4.66673 10.3602L7.04006 11.0268L8.13339 10.2335L5.46673 9.46017L6.66673 8.72684L10.3134 8.62017L11.8467 7.50684L6.66673 7.66684C6.50342 7.658 6.34112 7.69742 6.20006 7.78017L4.44673 8.80017C4.30177 8.88604 4.18548 9.0129 4.11251 9.16476C4.03954 9.31662 4.01315 9.48668 4.03668 9.65351C4.06021 9.82034 4.1326 9.97647 4.24472 10.1022C4.35684 10.228 4.50368 10.3177 4.66673 10.3602Z"
                                fill="black" />
                        </svg>
                        <span class="location__desc">Аэропорта: <span class="location__value">{{ aeroport }} км</span></span>
                    </div>
                {% endif %}
                {% if vokzal %}
                    <div class="location__wrapper d-flex align-items-center">
                        <svg class="location__pic" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.8 21H9.3V19.8H4.8C4.64093 19.7998 4.48843 19.7365 4.37594 19.6241C4.26346 19.5116 4.20019 19.3591 4.2 19.2V14.7H3V19.2C3.00054 19.6772 3.19035 20.1348 3.5278 20.4722C3.86525 20.8097 4.32277 20.9995 4.8 21ZM4.2 4.8C4.20019 4.64093 4.26346 4.48843 4.37594 4.37594C4.48843 4.26346 4.64093 4.20019 4.8 4.2H9.3V3H4.8C4.32277 3.00054 3.86525 3.19035 3.5278 3.5278C3.19035 3.86525 3.00054 4.32277 3 4.8V9.3H4.2V4.8ZM19.2 3H14.7V4.2H19.2C19.3591 4.20019 19.5116 4.26346 19.6241 4.37594C19.7365 4.48843 19.7998 4.64093 19.8 4.8V9.3H21V4.8C20.9995 4.32277 20.8097 3.86525 20.4722 3.5278C20.1348 3.19035 19.6772 3.00054 19.2 3ZM19.8 19.2C19.7998 19.3591 19.7365 19.5116 19.6241 19.6241C19.5116 19.7365 19.3591 19.7998 19.2 19.8H14.7V21H19.2C19.6772 20.9995 20.1348 20.8097 20.4722 20.4722C20.8097 20.1348 20.9995 19.6772 21 19.2V14.7H19.8V19.2ZM17.4 12C17.4 9.0225 14.9775 6.6 12 6.6C9.0225 6.6 6.6 9.0225 6.6 12C6.6 14.9775 9.0225 17.4 12 17.4C14.9775 17.4 17.4 14.9775 17.4 12ZM12 16.2C11.1693 16.2 10.3573 15.9537 9.66661 15.4922C8.97592 15.0307 8.43759 14.3747 8.11971 13.6073C7.80182 12.8398 7.71864 11.9953 7.8807 11.1806C8.04276 10.3659 8.44277 9.61753 9.03015 9.03015C9.61753 8.44277 10.3659 8.04276 11.1806 7.8807C11.9953 7.71864 12.8398 7.80182 13.6073 8.11971C14.3747 8.43759 15.0307 8.97592 15.4922 9.66661C15.9537 10.3573 16.2 11.1693 16.2 12C16.1987 13.1135 15.7558 14.1811 14.9685 14.9685C14.1811 15.7558 13.1135 16.1987 12 16.2Z"
                                fill="black" />
                        </svg>
                        <span class="location__desc">Центр Сочи <span class="grey-text">центральный ЖД Вокзал Сочи: </span><span class="location__value">{{ vokzal }} км</span></span>
                    </div>
                {% endif %}
                {% if olimpik %}
                    <div class="location__wrapper d-flex align-items-center">
                        <svg class="location__pic" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z"
                                stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M7 8C7.55228 8 8 7.55228 8 7C8 6.44772 7.55228 6 7 6C6.44772 6 6 6.44772 6 7C6 7.55228 6.44772 8 7 8Z"
                                fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M17 8C17.5523 8 18 7.55228 18 7C18 6.44772 17.5523 6 17 6C16.4477 6 16 6.44772 16 7C16 7.55228 16.4477 8 17 8Z"
                                fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z"
                                fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z"
                                fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12C18 12.5523 18.4477 13 19 13Z"
                                fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14Z"
                                stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13Z"
                                fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M7 18C7.55228 18 8 17.5523 8 17C8 16.4477 7.55228 16 7 16C6.44772 16 6 16.4477 6 17C6 17.5523 6.44772 18 7 18Z"
                                fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M17 18C17.5523 18 18 17.5523 18 17C18 16.4477 17.5523 16 17 16C16.4477 16 16 16.4477 16 17C16 17.5523 16.4477 18 17 18Z"
                                fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8 22L12 12L16 22M5.5 22H18.5" stroke="black" stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                        <span class="location__desc">пгт Сириус <span class="grey-text">ЖД Вокзал Олимпийский парк: </span><span class="location__value">{{ olimpik }} км</span></span>
                    </div>
                {% endif %}
                {% if estosadok %}
                    <div class="location__wrapper d-flex align-items-center">
                        <svg class="location__pic" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5827 3L11.8988 4.245L7.00725 13.137L5.57025 11.7L5.07525 12.5235L0.68025 19.8487L0 20.9842H23.463L23.0145 19.938L20.7645 14.688L20.328 13.6702L18.777 15.2212L13.2247 4.2675L12.5835 3H12.5827ZM12.528 6.2115L14.808 10.7085L14.2275 11.2065L12.5175 9.74175L10.8083 11.2065L10.1108 10.6072L12.528 6.2115ZM12.5182 11.7165L14.2282 13.1812L15.5048 12.0862L17.9047 16.8225L18.3713 17.7472L19.8202 16.2982L21.1852 19.4842H2.64825C3.72075 17.6955 4.79475 15.9067 5.868 14.1187L7.359 15.6097L7.8405 14.7352C8.35125 13.8067 8.86275 12.879 9.37275 11.9505L10.8083 13.1805L12.5182 11.7165Z"
                                fill="black" />
                        </svg>
                        <span class="location__desc">Красная Поляна <span class="grey-text">ЖД Вокзал Эсто-Садок: </span><span class="location__value">{{ estosadok }} км</span></span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="more">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="more__sub subtitle text-center">Дополнительные параметры объекта</h2>
            </div>
        </div>
        <div class="row more__wrapper">
            <div class="offset-xl-1 col-xl-4 d-flex flex-column col-lg-5 col-md-5 col-sm-5 col-6">
                {% if material %}
                    <span class="more__desc">Материал стен: <span>{{ material }}</span></span>
                {% endif %}
                {% if foundation %}
                    <span class="more__desc">Фундамент: <span>{{ foundation }}</span></span>
                {% endif %}
                {% if facade_decoration %}
                    <span class="more__desc">Фасад: <span>{{ facade_decoration }}</span></span>
                {% endif %}
                {% if facade_insulation %}
                    <span class="more__desc">Утепление фасада: <span>{{ facade_insulation }}</span></span>
                {% endif %}
                {% if house_rented %}
                    <span class="more__desc">Дом сдан: <span>{{ house_rented }}</span></span>
                {% endif %}
                {% if recreation_areas %}
                    <span class="more__desc">Зоны отдыха: <span>{{ recreation_areas }}</span></span>
                {% endif %}
            </div>
            <div
                class="parameter__col offset-xl-1 col-xl-1 justify-content-xl-start col-lg-2 d-flex justify-content-center col-md-2 col-sm-2 col-1">
                <div class="more__line"></div>
            </div>
            <div class="parameter__dop col-xl-4 d-flex flex-column align-items-end col-lg-5 col-md-5 col-sm-5 col-5">
                {% if renovation %}
                    <span class="more__desc-right">Ремонт: <span>{{ renovation }}</span></span>
                {% endif %}
                {% if interior_decoration %}
                    <span class="more__desc-right">Внутренняя отделка: <span>{{ interior_decoration }}</span></span>
                {% endif %}
                {% if bath_house %}
                    <span class="more__desc-right">Баня\Сауна: <span>{{ bath_house }}</span></span>
                {% endif %}
                {% if swimming_pool %}
                    <span class="more__desc-right">Бассейн: <span>{{ swimming_pool }}</span></span>
                {% endif %}
                {% if guest_house %}
                    <span class="more__desc-right">Гостевой дом: <span>{{ guest_house }}</span></span>
                {% endif %}
                {% if pool_size %}
                    <span class="more__desc-right">Размер бассейна: <span>{{ pool_size }}</span></span>
                {% endif %}
                {% if pool_functions %}
                    <span class="more__desc-right">Функции бассейна: <span>{{ pool_functions }}</span></span>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="project-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="swiper project-slider-swiper">
                    <div class="swiper-wrapper project-slider-wrapper">
                        {% set gallery = adView.getGallery(advertisement) %}
                        {% set galleryList = gallery.items ?: [gallery.first] %}
                        {% set galleryResizeList = imageResized.resizePicture(galleryList, {'width': '1200', 'height': '610', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_realty_view_plan'}) %}
                        {% for galleryItem in galleryResizeList %}
                            <div class="swiper-slide project-slider-slide">
                                <picture>
                                    <img src="{{ galleryItem.src }}" alt="{{ galleryItem.description }}" class="project-slider__image">
                                </picture>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next project-slider-button-next project-slider-button">
                        <svg class="main-slider-arrow" width="25" height="41" viewBox="0 0 25 41" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.96618 41L25 20.5L3.96618 -6.46742e-07L3.96166e-06 3.86551L17.0676 20.5L1.05319e-06 37.1345L3.96618 41Z"
                                  fill="#040404" />
                        </svg>
                    </div>
                    <div class="swiper-button-prev project-slider-button project-slider-button-prev">
                        <svg class="main-slider-arrow" width="25" height="41" viewBox="0 0 25 41" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.96618 41L25 20.5L3.96618 -6.46742e-07L3.96166e-06 3.86551L17.0676 20.5L1.05319e-06 37.1345L3.96618 41Z"
                                  fill="#040404" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="project-slider__block d-flex align-items-center justify-content-center flex-column text-center">
                    <span class="project-slider__name">Проект фундамента</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6">
                <picture>
                    <img src="/{{ advertisement.AdvertisementPicture.2.picture }}" alt="фото объекта" class="project-slider__rect">
                </picture>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 d-sm-none d-xl-block d-lg-block d-md-block d-none">
                <div
                    class="project-slider__block d-flex align-items-center justify-content-center flex-column text-center">
                    <span class="project-slider__name">Проект фундамента</span>
                    {% if facade_decoration %}
                        <span class="project-slider__text grey-text">Фасад и внешняя отделка: {{ facade_decoration }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6">
                <picture>
                    <img src="/{{ advertisement.AdvertisementPicture.2.picture }}" alt="" class="project-slider__rect">
                </picture>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="project-slider__block_f d-flex align-items-center justify-content-center flex-column text-center">
                    <span class="project-slider__name">Проект дома</span>
                    {% if facade_decoration %}
                        <span class="project-slider__text grey-text">Фасад и внешняя отделка: фасад утеплен, декоративная штукатурка.</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 d-sm-none d-xl-block d-lg-block d-md-block d-none">
                <picture>
                    <img src="/{{ advertisement.AdvertisementPicture.2.picture }}" alt="" class="project-slider__rect">
                </picture>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <a href="#" class="project-slider__more d-flex align-items-center">
                    <span class="project-slider__look grey-text">Посмотреть еще фото</span>
                    <svg class="project-slider__arrow-grey" width="11" height="17" viewBox="0 0 11 17" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.74512 17L11 8.5L1.74512 1.09826e-06L-5.61281e-07 1.60278L7.50977 8.5L-1.76723e-06 15.3972L1.74512 17Z"
                              fill="#929292" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
{% if advertisement.Youtube.2.url %}
    <section class="video">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <iframe class="video__video" width="1100" height="587"
                                src="{{ advertisement.Youtube.2.url }}" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<section class="layout">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="layout__sub subtitle">Планировка</h2>
                <span class="layout__text grey-text">Дизайн проекта</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper project-slider-swiper">
                    <div class="swiper-wrapper project-slider-wrapper">
                        {% set gallery = adView.getGallery(advertisement) %}
                        {% set galleryList = gallery.items ?: [gallery.first] %}
                        {% set galleryResizeList = imageResized.resizePicture(galleryList, {'width': '1200', 'height': '610', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_realty_view_plan'}) %}
                        {% for galleryItem in galleryResizeList %}
                            {% if galleryItem.plan %}
                                <div class="swiper-slide project-slider-slide">
                                    <picture>
                                        <img src="{{ galleryItem.src }}" alt="{{ galleryItem.description }}" class="project-slider__image">
                                    </picture>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next project-slider-button-next project-slider-button">
                        <svg class="main-slider-arrow" width="25" height="41" viewBox="0 0 25 41" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.96618 41L25 20.5L3.96618 -6.46742e-07L3.96166e-06 3.86551L17.0676 20.5L1.05319e-06 37.1345L3.96618 41Z"
                                  fill="#040404" />
                        </svg>
                    </div>
                    <div class="swiper-button-prev project-slider-button project-slider-button-prev">
                        <svg class="main-slider-arrow" width="25" height="41" viewBox="0 0 25 41" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.96618 41L25 20.5L3.96618 -6.46742e-07L3.96166e-06 3.86551L17.0676 20.5L1.05319e-06 37.1345L3.96618 41Z"
                                  fill="#040404" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="territory">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="territory__sub subtitle text-center">Территория, Участок</h2>
            </div>
        </div>
        <div class="row territory__wrapper d-flex justify-content-between">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-6 d-flex flex-column territory__column">
                {% if landscape %}
                    <span class="territory__desc">Ландшафт: <span>{{ landscape }}</span></span>
                {% endif %}
                {% if automatic_watering %}
                    <span class="territory__desc">Автополив: <span>{{ automatic_watering }}</span></span>
                {% endif %}
                {% if fence %}
                    <span class="territory__desc">Забор: <span>{{ fence }}</span></span>
                {% endif %}
                {% if altitude %}
                    <span class="territory__desc">Высота над уровнем моря: <span>{{ altitude }}м</span></span>
                {% endif %}
                {% if view_house %}
                    <span class="territory__desc">Вид из дома: <span>{{ view_house }}</span></span>
                {% endif %}
            </div>
            <div class="parameter__col col-1 d-flex justify-content-xl-start justify-content-center">
                <div class="territory__line"></div>
            </div>
            <div class="parameter__dop col-xl-4 col-lg-5 col-md-5 col-sm-5 col-5 d-flex flex-column align-items-end territory__col">
                {% if security %}
                    <span class="territory__desc-right">Охрана: <span>{{ security }}</span></span>
                {% endif %}
                {% if place_car %}
                    <span class="territory__desc-right">Место для машины: <span>{{ place_car }}</span></span>
                {% endif %}
                {% if names_trees %}
                    <span class="territory__desc-right grey-text">{{ names_trees }}</span>
                {% endif %}
            </div>
        </div>
        <div class="territory__row" style="max-height: 830px; overflow: hidden">
            <div class="row g-0">
                <div class="col-6">
                    <picture>
                        <img src="/{{ advertisement.AdvertisementPicture.0.picture }}" alt="фото объекта" class="territory__image">
                    </picture>
                </div>
                <div class="col-6">
                    <picture>
                        <img src="/{{ advertisement.AdvertisementPicture.1.picture }}" alt="фото объекта" class="territory__image">
                    </picture>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-6">
                    <picture>
                        <img src="/{{ advertisement.AdvertisementPicture.2.picture }}" alt="фото объекта" class="territory__image">
                    </picture>
                </div>
                <div class="col-6">
                    <picture>
                        <img src="/{{ advertisement.AdvertisementPicture.3.picture }}" alt="фото объекта" class="territory__image">
                    </picture>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <a href="#" class="project-slider__more d-flex align-items-center">
                    <span class="project-slider__look grey-text">Посмотреть еще фото</span>
                    <svg class="project-slider__arrow-grey" width="11" height="17" viewBox="0 0 11 17" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.74512 17L11 8.5L1.74512 1.09826e-06L-5.61281e-07 1.60278L7.50977 8.5L-1.76723e-06 15.3972L1.74512 17Z"
                              fill="#929292" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="feel">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="feel__line"></div>
                <h2 class="feel__sub subtitle">Почувствуй</h2>
                <div class="feel__line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <span class="feel__text">Самый главный мега плюс дома самый главный мега плюс дома самый главный</span>
            </div>
        </div>
        {% if advertisement.Youtube.3.url %}
            <div class="row">
                <div class="col-12">
                    <div>
                        <iframe class="video__video" width="1100" height="587"
                                src="{{ advertisement.Youtube.3.url }}" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
<section class="text">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="text__line"></div>
                <span class="text__text">Ваш личный островок курорта.<br>Сочи - это 300 солнечных дней в году<br> это
							море
							и
							горнолыжный курорт.<br>
							Горный и морской воздух отсутствие заводов и вредных производств.<br>
							Инвестиция, которая постоянно растет в цене</span>
            </div>
        </div>
    </div>
</section>
