</main>
{% if (attribute(_view.request, 'controller') == 'realty') and ((attribute(_view.request, 'action') == 'view') or (attribute(_view.request, 'action') == 'view_slug')) %}
    <section class="footer-object">
        <div class="container">
            <div class="grid footer-object__grid">
                {% set paramsValues = advertisement.CategoryParamValues ?? [] %}
                {% set arhitectyr = complexCategory.getViewAliasesOptions('arhitectyr', paramsValues) %}
                {% set renovation = complexCategory.getViewAliasesOptions('renovation', paramsValues) %}
                {% set view_house = complexCategory.getViewDataAliasesOptions('view_house', paramsValues) %}
                {% set swimming_pool = complexCategory.getViewAliasesOptions('swimming_pool', paramsValues) %}
                {% set bath_house = complexCategory.getViewAliasesOptions('bath_house', paramsValues) %}
                {% set guest_house = complexCategory.getViewAliasesOptions('guest_house', paramsValues) %}
                {% set place_car = complexCategory.getViewAliasesOptions('place_car', paramsValues) %}

                {% if advertisement.Advertisement.contract_type_id == 1 and advertisement.Youtube|length > 0 %}
                    <span class="footer-object__btn text-center">видео</span>
                {% endif %}

                {% if arhitectyr and (advertisement.CategoryParamValues.arhitectyr.value == 1 or advertisement.CategoryParamValues.arhitectyr.value == 2) %}
                    <a href="/?arhitectyr={{ advertisement.CategoryParamValues.arhitectyr.value }}" class="footer-object__btn text-center">{{ arhitectyr }}</a>
                {% endif %}

                {% if renovation and advertisement.CategoryParamValues.renovation.value == 1 %}
                    <a href="/?renovation={{ advertisement.CategoryParamValues.renovation.value }}" class="footer-object__btn text-center">с ремонтом</a>
                {% endif %}

                {% if 'море' in view_house %}
                    <a href="/?view_house=1" class="footer-object__btn text-center">море</a>
                {% endif %}

                {% if swimming_pool and advertisement.CategoryParamValues.swimming_pool.value == 1 %}
                    <a href="/?swimming_pool={{ advertisement.CategoryParamValues.swimming_pool.value }}" class="footer-object__btn text-center">с бассейном</a>
                {% endif %}

                {% if bath_house and advertisement.CategoryParamValues.bath_house.value == 1 %}
                    <a href="/?bath_house={{ advertisement.CategoryParamValues.bath_house.value }}" class="footer-object__btn text-center">с баней</a>
                {% endif %}

                {% if advertisement.CategoryParamValues.place_car.value[0] == 1  %}
                    <a href="/?place_car=1" class="footer-object__btn text-center">с гаражом</a>
                {% endif %}

                {% if guest_house and advertisement.CategoryParamValues.guest_house.value != 1 %}
                    <a href="/?guest_house={{ advertisement.CategoryParamValues.guest_house.value }}" class="footer-object__btn text-center">гостевой дом</a>
                {% endif %}
            </div>
        </div>
    </section>
{% else %}
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex flex-column align-items-center justify-content-center">
                    <div class="footer__line"></div>
                    <span class="footer__text">
                        Сочи - уникальное сочетание моря и гор, чистого воздуха и здоровья, природного и инвестиционного климата!<br>
                        Это 300 дней солнца в году!<br>
                      Это чистый воздух и здоровье детей!<br>
                         Это море и горы - всё и сразу!<br>
                          Сочи - это вложения, которые показывают рост и солидные дивиденды в любых ситуациях!
                    </span>
                </div>
            </div>
        </div>
    </section>
{% endif %}

