<div id="collection-block"></div>
{% set recaptcha = _view.loadHelper('Recaptcha.Recaptcha') %}
{% set recaptchaScript = recaptcha.initScripts()|first %}
<script src="{{ recaptchaScript }}"></script>
{{ html.script('/uploads/assets/js/recaptcha.js') }}
{{ html.script('/libraries/lazyload/lazyload.min.js') }}
{{ html.script('/uploads/assets/js/app.min.js?v=20220523153133') }}
{{ html.script('/libraries/jquery3/jquery.min.js') }}
{{ html.script('/libraries/select2/js/select2.min.js') }}
{{ html.script('/libraries/select2/js/i18n/ru.js') }}
{{ html.script('https://unpkg.com/swiper@8.3.1/swiper-bundle.min.js') }}
{{ html.script('/agency/js/jquery.mask.min.js') }}
{{ html.script('/uploads/assets/js/main.js?v=45345') }}
{{ html.script('/uploads/assets/js/js.cookie.min.js') }}
{{ html.script('/uploads/assets/js/sweetalert2.js') }}
{{ _view.fetch('scriptCustom') }}
</body>
</html>
